<footer class="container social social-light">
  <div class="social-container flex-left">
    <ul class="nolist">
      <li><a href="http://twitter.com/{{ site.twitter_username }}">
        <i class="fab fa-twitter fa-2x"></i></a></li>
      <li><a href="http://github.com/{{ site.github_username }}">
        <i class="fab fa-github fa-2x"></i></a></li>
    </ul>
  </div>
  <div id="home" class="social-container flex-center">
    <ul class="nolist">
      <li><a class="" href="/index"><i class="fas fa-igloo fa-2x"></i></a></li>
    </ul>
  </div>
  <div class="social-container flex-right">
    <ul class="nolist">
      <li>{% include switch.html %}</li>
    </ul>
  </div>
</footer>
