<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="icon" type="image/png" href="">

  <!-- Page -->
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">

  <!-- OpenGraph tags -->
  <meta name="og:locale" content="{{ page.locale | default: site.locale }}">
  <meta name="og:type" content="{{ page.type | default: site.type }}">
  <meta name="og:title" content="{{ page.title | default: site.title }}">
  <meta name="og:description" content="{{ page.description | default: site.description }}">
  <meta name="og:image" content="{{ page.image | default: site.image }}">
  <meta name="og:url" content="{{ page.url | default: site.url }}">

  <!-- Scripts -->
  <script src="/assets/js/script.js"></script>
  <script src="https://kit.fontawesome.com/6f34bab457.js" crossorigin="anonymous"></script>
</head>
