<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include head.html %}
  <body class="body" oncontextmenu="return false;">
    <div class="card">
      <header class="container">
        <h1>Index</h1>
      </header>
      <section class="container vs-marg">
        <ul>
          {% for post in site.posts %}
          <li class="blog-post">
            <div class="">
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              <p>{{ post.date | date: "%-d %B %Y" }}</p>
            </div>
            <div class=" tag-container tag-{{ post.tags }}">
              <span class="tag">{{ post.tags }}</span>
            </div>
          </li>
          {% endfor %}
        </ul>
      </section>
      {% include footer.html %}
    </div>
  </body>
</html>
