<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include head.html %}
  <style media="screen">
    #home {
      visibility: hidden;
    }
  </style>
  <body class="body" oncontextmenu="return false;">
    <div class="card">
      <div class="wrapper">
        <header class="container">
          <h1>Hi, I'm {{ site.first_name }}</h1>
          <h2>{{ site.occupation }}</h2>
          <img class="center img rd b-img th-marg" src="assets/img/profile.jpg" alt="profile">
        </header>
        <section class="content container tb-marg justify">
          {{ content }}
        </section>
        <section class="contact container vb-marg">
          <div class="center">
            <a class="btn"href="mailto:{{ site.email }}">
            Send a thoughful message</a>
          </div>
        </section>
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
